ul > li {
    background-color: #8fe99e;
    margin: 10px;
    line-height: 25px;
    font-size: 20px;
    display: inline-flex;
  }
  li>a{
    text-decoration: none;
    color: white;
  }
  ul{
    list-style-type: none;
  }
  p{
    padding-left: 20px;
  }
  .p1{
    padding-left: 50px;
    font-size: 35px;
  }
  h1{
    color: white;
    text-align: center;
  }
  ul > li> a:hover, ul > li> a:active {background: rgb(101, 228, 196);}

  button{
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
  }

  .div1{
    margin-left: 30px;
  }
  .card{
    margin: 0px 1000px 0px 30px;
  }